{% extends 'base.html' %}

{% block title %}Lista de Pedidos de Produção{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Pedidos de Produção</h1>

    <!-- Botão para adicionar uma nova ordem de produção -->
    <div class="text-right mb-3">
        <a href="{% url 'production_order_create' %}" class="btn btn-success">
            <i class="fas fa-plus"></i> Nova Ordem de Produção
        </a>
    </div>

    <table id="orderTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Data</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in orders_with_totals %}
            <tr>
                <td class="text-center" style="font-size: 20px;">{{ item.order.order_date|date:"d/m/Y" }}</td>
                <td class="text-center" style="font-size: 20px;">{{ item.total_quantity }}</td>
                <td>
                    <a href="{% url 'production_order_detail' item.order.id %}" class="btn btn-info btn-sm mb-2" title="Ver Detalhes">
                        <i class="fas fa-eye"></i> <span class="ms-1">Detalhes</span>
                    </a>
                    <a href="{% url 'production_order_update' item.order.id %}" class="btn btn-warning btn-sm mb-2" title="Editar">
                        <i class="fas fa-edit"></i> <span class="ms-1">Editar</span>
                    </a>
                    <a href="{% url 'production_order_delete' item.order.id %}" class="btn btn-danger btn-sm mb-2" title="Excluir">
                        <i class="fas fa-trash-alt"></i> <span class="ms-1">Deletar</span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th class="text-center">Total Geral</th>
                <th class="text-center" id="totalFooter" style="font-size: 20px;"></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>

<!-- Script para inicializar a DataTable -->
<script>
    $(document).ready(function() {
        $('#orderTable').DataTable({
            responsive: true,
            paging: true,
            searching: true,
            info: true,
            ordering: true,
            stateSave: true,
            deferRender: true,
            columnDefs: [
                { width: '40%', targets: 0 },
                { width: '20%', targets: 1 },
                { width: '40%', targets: 2 }
            ],
            language: {
                lengthMenu: "Mostrar _MENU_ por página",
                search: "Pesquisar",
                paginate: {
                    first: "Primeiro",
                    last: "Último",
                    next: "Próximo",
                    previous: "Anterior"
                },
                zeroRecords: "Nenhum registro encontrado",
                infoEmpty: "Nenhum registro disponível",
                info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
                infoFiltered: "(filtrado de _MAX_ registros no total)"
            },
            footerCallback: function(row, data, start, end, display) {
                var api = this.api();

                // Calcula a soma da coluna "Total"
                var total = api
                    .column(1, { page: 'current' })
                    .data()
                    .reduce(function(a, b) {
                        return a + parseFloat(b);
                    }, 0);

                // Atualiza o rodapé da tabela com a soma calculada
                $(api.column(1).footer()).html(total);
            }
        });
    });
</script>
{% endblock %}
