<nav class="navbar navbar-expand-lg navbar-light bg-success fixed-top">
    <div class="container-fluid">
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            Menu
        </button>
        <p class="navbar-brand mx-auto text-center mb-0" style="flex: 1; color: white;">Salgados Que Massa</p>
    </div>
</nav>

<style>
    body {
        padding-top: 20px;
    }

    .navbar-brand {
        font-size: 1.5rem; /* Ajusta o tamanho do texto se necessário */
        text-align: center; /* Centraliza o texto */
        color: white; /* Define a cor do texto como branco para contraste */
    }
</style>
