{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Dashboard</h1>

    <!-- Filtros de data e dia da semana -->
    <div class="row mb-4">
        <div class="col-md-3">
            <label for="month_select">Mês:</label>
            <select id="month_select" class="form-control" onchange="setDateRangeByMonth()">
                <option value="">Selecione um mês</option>
                <!-- As opções serão preenchidas dinamicamente no script -->
            </select>
        </div>
        <div class="col-md-3">
            <label for="date_from">De:</label>
            <input type="date" id="date_from" class="form-control">
        </div>
        <div class="col-md-3">
            <label for="date_to">Até:</label>
            <input type="date" id="date_to" class="form-control">
        </div>
        <div class="col-md-3">
            <label for="weekday">Dia da Semana:</label>
            <select id="weekday" class="form-control">
                <option value="">Todos os dias</option>
                <option value="0">Domingo</option>
                <option value="1">Segunda-feira</option>
                <option value="2">Terça-feira</option>
                <option value="3">Quarta-feira</option>
                <option value="4">Quinta-feira</option>
                <option value="5">Sexta-feira</option>
                <option value="6">Sábado</option>
            </select>
        </div>
        <div class="col-md-3 d-flex align-items-end">
            <button class="btn btn-primary mr-2" onclick="applyDateFilter()">Aplicar Filtro</button>
            <button class="btn btn-secondary" onclick="resetFilters()">Limpar Filtros</button>
        </div>
    </div>

    <!-- Checkboxes para selecionar o que deve ser exibido no gráfico -->
    <div class="row mb-4">
        <div class="col-md-6">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="produced" id="showProduced" checked onclick="applyDateFilter()">
                <label class="form-check-label" for="showProduced">
                    Mostrar Produtos Produzidos
                </label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="finished" id="showFinished" checked onclick="applyDateFilter()">
                <label class="form-check-label" for="showFinished">
                    Mostrar Produtos Finalizados
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="sold" id="showSold" checked onclick="applyDateFilter()">
                <label class="form-check-label" for="showSold">
                    Mostrar Produtos Vendidos
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row mt-5">
            <div class="col-md-12 chart-container">
                <canvas id="productionFinishedChart"></canvas>
            </div>
        </div>
    </div>
</div>

<style>
    .chart-container {
        width: 100%;
        overflow-x: auto; /* Permite rolagem horizontal se necessário */
    }
    #productionFinishedChart {
        width: 100% !important;
        height: auto; /* Mantém a altura automática */
    }
</style>

<!-- Script para inicializar o gráfico e configurar as datas -->
<script>
    // Defina as variáveis no escopo global
    var dates, producedTotals, finishedTotals, soldTotals, productionFinishedChart;
    var monthsAvailable = {};

    window.onload = function() {
        // Inicialize as datas e variáveis do gráfico
        initializeDatesAndChart();
        populateMonthSelect();
        selectCurrentMonth();
        applyDateFilter();
    }

    function selectCurrentMonth() {
        var today = new Date();
        var currentMonth = ('0' + (today.getMonth() + 1)).slice(-2) + '/' + today.getFullYear();
        var monthSelect = document.getElementById('month_select');

        // Seleciona o mês corrente no dropdown
        for (var i = 0; i < monthSelect.options.length; i++) {
            if (monthSelect.options[i].value === currentMonth) {
                monthSelect.selectedIndex = i;
                setDateRangeByMonth();  // Aplica o filtro para o mês corrente
                break;
            }
        }
    }

    function initializeDatesAndChart() {
        var today = new Date();

        // Inicializar as variáveis globais com os dados do template
        dates = JSON.parse('{{ dates|escapejs }}');
        producedTotals = JSON.parse('{{ produced_totals|escapejs }}');
        finishedTotals = JSON.parse('{{ finished_totals|escapejs }}');
        soldTotals = JSON.parse('{{ sold_totals|escapejs }}');

        var ctx = document.getElementById('productionFinishedChart').getContext('2d');
        productionFinishedChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: dates,
                datasets: [
                    {
                        label: 'Produtos Produzidos por Dia',
                        data: producedTotals,
                        backgroundColor: 'rgba(153, 102, 255, 0.2)',
                        borderColor: 'rgba(153, 102, 255, 1)',
                        borderWidth: 1,
                        barThickness: 'flex',
                        maxBarThickness: 50,
                        categoryPercentage: 0.8,
                        barPercentage: 0.9
                    },
                    {
                        label: 'Produtos Finalizados por Dia',
                        data: finishedTotals,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                        barThickness: 'flex',
                        maxBarThickness: 50,
                        categoryPercentage: 0.8,
                        barPercentage: 0.9
                    },
                    {
                        label: 'Produtos Vendidos por Dia',
                        data: soldTotals,
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1,
                        barThickness: 'flex',
                        maxBarThickness: 50,
                        categoryPercentage: 0.8,
                        barPercentage: 0.9
                    },
                ]
            },
            options: {
                indexAxis: 'y',
                plugins: {
                    datalabels: {
                        align: 'end',
                        anchor: 'start',
                        color: 'black',
                        font: {
                            weight: 'bold'
                        },
                        formatter: function(value, context) {
                            return value;
                        }
                    }
                },
                scales: {
                    x: {
                        beginAtZero: true,
                        ticks: {
                            padding: 25,
                        },
                        grid: {
                            offset: true
                        }
                    },
                },
                maintainAspectRatio: false,
                responsive: true,
            },
            plugins: [ChartDataLabels]
        });
        
        adjustChartHeight(productionFinishedChart, dates);

        monthsAvailable = getAvailableMonths(dates);
    };

    function getAvailableMonths(dates) {
        var months = {};
        dates.forEach(function(date) {
            var parts = date.split('/');
            var month = parts[1] + '/' + parts[2]; // "MM/YYYY"
            if (!months[month]) {
                months[month] = [];
            }
            months[month].push(date);
        });
        return months;
    }

    function populateMonthSelect() {
        var monthSelect = document.getElementById('month_select');
        for (var month in monthsAvailable) {
            var parts = month.split('/');
            var year = parts[1];
            var monthIndex = parseInt(parts[0]) - 1;  // Subtraia 1 porque o mês em JavaScript é baseado em zero
            var monthName = new Date(year, monthIndex).toLocaleString('default', { month: 'long', year: 'numeric' });

            var option = document.createElement('option');
            option.value = month;
            option.textContent = monthName;
            monthSelect.appendChild(option);
        }
    }

    function setDateRangeByMonth() {
        var monthSelect = document.getElementById('month_select');
        var selectedMonth = monthSelect.value;

        if (selectedMonth) {
            var parts = selectedMonth.split('/');
            var month = parseInt(parts[0]) - 1;  // O mês em JavaScript é baseado em zero
            var year = parseInt(parts[1]);

            // Define o primeiro dia do mês selecionado
            var firstDayOfMonth = new Date(year, month, 1);

            // Define o último dia do mês selecionado
            var lastDayOfMonth = new Date(year, month + 1, 0);

            // Formata as datas para o formato yyyy-mm-dd
            var formattedFirstDay = formatDate(firstDayOfMonth);
            var formattedLastDay = formatDate(lastDayOfMonth);

            // Preenche os inputs com as datas formatadas
            document.getElementById('date_from').value = formattedFirstDay;
            document.getElementById('date_to').value = formattedLastDay;
        } else {
            document.getElementById('date_from').value = '';
            document.getElementById('date_to').value = '';
        }
        applyDateFilter();
    }

    function formatDate(date) {
        var year = date.getFullYear();
        var month = ('0' + (date.getMonth() + 1)).slice(-2);
        var day = ('0' + date.getDate()).slice(-2);
        return year + '-' + month + '-' + day;
    }

    function adjustChartHeight(chart, labels) {
        var minBars = 5;
        var barHeight = 50;
        var minHeight = minBars * barHeight;
        var dynamicHeight = labels.length * barHeight;
        var finalHeight = Math.max(minHeight, dynamicHeight);
        chart.canvas.parentNode.style.height = finalHeight + 'px';
    }

    function applyDateFilter() {
        var dateFrom = document.getElementById('date_from').value;
        var dateTo = document.getElementById('date_to').value;
        var weekday = document.getElementById('weekday').value;

        // Verifica quais checkboxes estão marcados
        var showProduced = document.getElementById('showProduced').checked;
        var showFinished = document.getElementById('showFinished').checked;
        var showSold = document.getElementById('showSold').checked;

        // Convert strings to Date objects
        var startDate = new Date(dateFrom);
        var endDate = new Date(dateTo);

        // Filter the dates and totals
        var filteredDates = [];
        var filteredProducedTotals = [];
        var filteredFinishedTotals = [];
        var filteredSoldTotals = [];

        for (var i = 0; i < dates.length; i++) {
            var currentDate = new Date(dates[i].split('/').reverse().join('-'));
            var currentWeekday = currentDate.getDay();

            if ((!isNaN(startDate) && currentDate >= startDate) &&
                (!isNaN(endDate) && currentDate <= endDate) &&
                (weekday === "" || currentWeekday == weekday)) {
                
                filteredDates.push(dates[i]);
                filteredProducedTotals.push(producedTotals[i]);
                filteredFinishedTotals.push(finishedTotals[i]);
                filteredSoldTotals.push(soldTotals[i]);
            }
        }

        // Atualizar o gráfico conforme as seleções
        productionFinishedChart.data.labels = filteredDates;
        productionFinishedChart.data.datasets = [];

        if (showProduced) {
            productionFinishedChart.data.datasets.push({
                label: 'Produtos Produzidos por Dia',
                data: filteredProducedTotals,
                backgroundColor: 'rgba(153, 102, 255, 0.2)',
                borderColor: 'rgba(153, 102, 255, 1)',
                borderWidth: 1,
                barThickness: 'flex',
                maxBarThickness: 50,
                categoryPercentage: 0.8,
                barPercentage: 0.9
            });
        }

        if (showFinished) {
            productionFinishedChart.data.datasets.push({
                label: 'Produtos Finalizados por Dia',
                data: filteredFinishedTotals,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1,
                barThickness: 'flex',
                maxBarThickness: 50,
                categoryPercentage: 0.8,
                barPercentage: 0.9
            });
        }

        if (showSold) {
            productionFinishedChart.data.datasets.push({
                label: 'Produtos Vendidos por Dia',
                data: filteredSoldTotals,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1,
                barThickness: 'flex',
                maxBarThickness: 50,
                categoryPercentage: 0.8,
                barPercentage: 0.9
            });
        }

        productionFinishedChart.update();
        adjustChartHeight(productionFinishedChart, filteredDates);
    }

    function resetFilters() {
        // Resetar filtros de data e seleção de dia da semana
        document.getElementById('date_from').value = '';
        document.getElementById('date_to').value = '';
        document.getElementById('weekday').value = '';
        
        // Resetar checkboxes para mostrar todos os tipos de produtos
        document.getElementById('showProduced').checked = true;
        document.getElementById('showFinished').checked = true;
        document.getElementById('showSold').checked = true;

        // Chamar a função selectCurrentMonth para selecionar o mês corrente e aplicar o filtro
        selectCurrentMonth();
        applyDateFilter();
    }
</script>
{% endblock %}
